{% include "base.html" %}
{% load bootstrap4 %}

{% block content %}
    <div style="width:25%; margin: auto">
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </div>
{% endblock %}