{% include "base.html" %}

<style>
    #map{
        width: 100%;
        height: 600px;
    }
</style>

{% block content %}
<div id='map'></div>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoicGxqY2dtIiwiYSI6ImNrOWxnNTltbjA3NmYzbHEwamQxc2Z4YmsifQ.sHPPkFf2k1KDreY5bRIX2A';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v10',
    center: [13.4, 52.5],
    zoom: 9
});
</script>
{% endblock %}